<div id="team">
    <h2>Наша команда</h2>
    <div class="row-block">
        <div class=" card-rw col-sm-6 col-md-4">
                <img src="../../../../../assets/team-photo/oooo.plus_341.png" alt="">
            <h6>Михаил Юранов</h6>
            <span>Михаил,Мастер спорта Республики Беларусь по плаванию.(Высшее образование, спортивно-педагогический факультет ПГУ). С 2005 года практикующий тренер-преподаватель по плаванию.</span>
        </div>
        <div class="card-rw col-sm-6 col-md-4">
                <img src="../../../../../assets/team-photo/oooo.plus_341(1).png" alt="">
            <h6>Юлия Юранова</h6>
            <span>Юлия, Мастер спорта Республики Беларусь по плаванию.(Высшее образование, спортивно-педагогический факультет ПГУ). С 2011 года практикующий тренер-преподаватель по плаванию.</span>
        </div>
    </div>
</div>