@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";

:host {

    #team {
        width: 100%;
        text-align: center;
        margin-top: 120px;
        
        @media screen and (max-width: 480px) {
            margin-top: 60px;
        }

        h2 {
            font-size: calc(25px + 1vw);
            @include text-gradiend();
        }

        .row-block {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media screen and (min-width: 1200px) {
                padding-left: 85px;
                padding-right: 85px;                
            }

            @media screen and (min-width: 1440px) {
                padding-left: 320px;
                padding-right: 320px;
            }

            .card-rw {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 30px;              
                max-width: 480px;
                width: 100%;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 30px;
                padding: 50px;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.12);

                h6 {
                    font-size: 30px;
                    margin-top: 15px;
                    @include text-gradiend();
                }

                span {
                    font-size: 15px;
                    color: $team-text-color;
                }

                img {
                    width: 215px;
                }
            }
        }
    }
}