@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";

:host{
    width: 100%;

    .container-footer {
        @include colorful-background();
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .up {
        width:60px; 
        height: 60px;
        bottom:0; 
        position:fixed; 
        cursor:pointer; 
        right: 0;
        z-index: 1;
    }
    .icon {
        color: #007bff;
        font-size: 60px;
        width: 60px;
        height: 60px;
    }

    .title {
        font-size: 35px;
    }
    .recall {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 260px;
        justify-content: space-around;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 345px;
        justify-content: space-around;
    }

    .input {
        width: 300px;
        border-radius: 5px;
        outline: none;
        border: none;
        // text-align: center;
        padding: 0px 15px;

        @media screen and (max-width: 480px) {
            width: 215px;
        }
    }
    .actions {
        width: 400px;
        text-align: right;

        @media screen and (max-width: 480px) {
            width: 300px;
        }

        .button {
            width: 150px;
            border-radius: 15px;
            outline: none;
            border: 1px solid $faq-text-color;
            border-radius: 3px;
            white-space: nowrap;
            letter-spacing: 0.06em;

            mat-icon {
                margin-top: -3px;
            }
        }
    }

    .name, .number {
        width: 400px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 480px) {
            width: 300px;
        }
    }

    .email {
        width: 400px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 480px) {
            width: 300px;
        }
    }

    .thema {
        width: 400px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 480px) {
            width: 300px;
        }
    }

    .text {
        width: 400px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 480px) {
            width: 300px;
        }

        .textarea {
            width: 300px;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            padding: 2px 15px;
            outline: none;
            border: none;
            resize: none;
            

            @media screen and (max-width: 480px) {
                width: 215px;
            }
        }
    }

    .contact-info {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom:10px; 

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 20px;
        }

        @media screen and (max-width: 480px) {
            font-size: 20px;
            text-align: center;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }

        .title {
            @include text-gradiend();
            font-size: 23px;
        }

        .legal-text {
            color: $team-text-color;
            font-size: 15px;
        }

        .legal-title {
            font-size: 15px;
        }

        .footer-name {
            @include text-gradiend();
            font-size: 15px;
        }
    }
}