<div class="container-footer">
    <div class="contact-us">
        <div class="title">СВЯЗАТЬСЯ С НАМИ!</div>
        <div class="contact">
            <div class="name">
                <label for="name">*Имя</label>
                <input id="name" class="input">
            </div>
            <div class="email">
                <label for="email">*Email</label>
                <input id="email" class="input">
            </div>
            <div class="thema">
                <label for="thema">Тема</label>
                <input id="thema" class="input">
            </div>
            <div class="text">
                <label for="text">*Текст</label>
                <textarea rows="5" id="text" class="textarea"></textarea>
            </div>
            <div class="actions">
                <button mat-button class="button">
                    <mat-icon>send</mat-icon>
                    Отправить
                </button>
            </div>
        </div>
    </div>
    <div class="recall">
        <div class="title">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК!</div>
        <div class="recall">
                <div class="name">
                    <label for="name">*Имя</label>
                    <input id="name" class="input">
                </div>
                <div class="number">
                    <label for="number">*Телефон</label>
                    <input id="number" class="input">
                </div>
                <div class="actions">
                    <button mat-button class="button">
                        <mat-icon>send</mat-icon>
                        Заказать
                    </button>
                </div>
            </div>
    </div>
</div>

<div>
    <div *ngIf="anHideOnStart" class="animated {{ animateClass }} up">
        <mat-icon (click)="onActivate($event, 30, 0)" class="icon">expand_less</mat-icon>
    </div>
</div>

<div class="contact-info">
    <div class="legal">
        <span class="title">Юридическая информация</span>

        <div>
            <span class="legal-title">Наименование: </span> 
            <span class="legal-text">ИП Юранова Юлия Васильевна</span>
        </div>

        <div>
            <span class="legal-title">УНП: </span> 
            <span class="legal-text">391757418</span>
        </div>

        <div>
            <span class="legal-title">Магазин: </span>
            <span class="legal-text">ул.Молодежная 89,павильон 4.</span>
        </div>

        <div>
            <span class="legal-title">Бассейн: </span>
            <span class="legal-text">СШ 4, Молодежная 130.</span>
        </div>
    </div>

    <div class="contacts">
        <span class="title">Контакты</span>

        <div> 
            <span class="legal-title">Эл. адрес: </span>
            <span class="legal-text">Sport_i_vy@mail.ru</span>
        </div> 
        
        <div>
            <span class="footer-name">Михаил: </span>
            <span class="legal-text">+375 (29) 171 31 02</span>
        </div>
        <div>
            <span class="legal-title">VK: </span>
            <span class="legal-text">
                <a href="http://vk.com/id84256765"> http://vk.com/id84256765 </a>
            </span>
            
        </div>

        <div>
            <span class="footer-name">Юлия: </span>
            <span class="legal-text">+375 (44) 532 21 44</span>
        </div>
        <div>
            <span class="legal-title">VK: </span>
            <span class="legal-text">
                <a href="https://vk.com/id84260901"> https://vk.com/id84260901 </a>
            </span>
        </div>
    </div>
</div> 
