<div id="header-wrapper">
    <div class="top-row">
        <div class="right-side">
            <span>+375 (29) 171 31 02</span>
            <span>+375 (44) 532 21 44</span>
        </div>
        <div class="left-side">
            <a href="https://vk.com/club103790299">
                <img src="assets/socials/vk.svg" alt="" >
            </a>

            <img src="assets/socials/viber.svg" alt="">

            <a href="https://www.instagram.com/yliayuranova/">
                <img src="assets/socials/instagram.svg" alt="" >
            </a>
        </div>
    </div>
    <div class="logo-row">
        <img src="assets/logo.png" alt="">
    </div>
    <div class="title">
        <h1>Мы научим вас плавать уверенно и безопастно</h1>
    </div>
    <div class="decoration">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" viewBox="0 0 1800 198" style="enable-background:new 0 0 1800 198;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:#FFFFFF;}
                </style>
            <path class="st0" d="M348,198c496,0,760.6-176,1220.1-176c142,0,248.9,20,248.9,20V0H-24v162C-24,162,96,198,348,198z"/>
        </svg>
    </div>
    <div class="sub-titles">
        <span>Обучение плаванию</span>
        <span>Продажа спортивного инвентаря</span>
        <span>Индивидуальный подход</span>
    </div>
</div>
