@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";

:host {

    #header-wrapper {

        height: 100%;
        @include colorful-background();

        @media screen and (max-width: 480px) {
            height: 810px;
        }

        @media screen and (max-width: 767px) {
            height: 810px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            height: 760px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            height: 760px;
        }

        @media (min-width: 1200px) and (max-width: 1440px) {
            height: 810px;
        }

        .top-row {
            display: flex;
            justify-content: space-around;
            background-color: $nav-background;

            .right-side {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: calc(8px + 1vw);
                color: $header-phone-color;
            }
    
            .left-side {
                min-width: 130px;
                display: flex;
                justify-content: flex-end;

                a {
                    display: flex;
                }

                img {
                    width: calc(30px + 1vw);
                    margin-left: 1vw;
                    cursor: pointer;
                }
            }
        }

        .logo-row {
            text-align: center;
            background-color: $nav-background;
            padding: 20px;

            img {
                width: calc(155px + 11vw);
            }
        }

        .title {
            text-align: center;
            background-color: $nav-background;
            padding: 0 calc(26px + 2vw) 0 calc(26px + 2vw);

            h1 {
                font-size: calc(20px + 1vw);
                @include text-gradiend();
            }
        }

        .decoration {
            margin-top: -10px;
        }

        .sub-titles {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: calc(5px + 1vw);
            color: white;
            padding: 0 calc(5px + 2vw) 0 calc(5px + 2vw);
            justify-content: space-around;
            margin-top: calc(50px + 2vw);

            @media screen and (max-device-width: 480px) {
                font-size: calc(12px + 1vw);
                flex-direction: column;
                font-size: calc(12px + 1vw);
                height: 215px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                font-size: calc(9px + 1vw);
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: calc(13px + 1vw);
            }
    

            span {
                text-align: center;
            }

            span:nth-child(2) {
                padding: 20px;
            }
        }
    }
}