@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";

:host {

    #location {
        width: 100%;
        text-align: center;
        margin-top: 120px;

        @media screen and (max-width: 480px) {
            margin-top: 60px;
        }

        h2 {
            font-size: calc(25px + 1vw);
            @include text-gradiend();
        }

        .map-container {
            
            #map {
                margin:auto; 
                width:100%; 
                height:470px; 
                margin-top:50px;
            }
        }
    }
}