@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";

:host {

    #faq {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        padding-top: 66px;
        padding-bottom: 66px;
        width: 100%;
        align-items: center;
        @include colorful-background();

        @media screen and (max-width: 480px) {
            flex-direction: column;
        }

        h2 {
            color: $faq-text-color;

            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 20px;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 26px;
            }

            @media screen and (max-width: 480px) {
                font-size: 20px;
                text-align: center;
                padding: 15px;
            }

            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
        }

        button {
            outline: none;
            font-size: 15px;
            color: $faq-text-color;
            border: 3px solid $faq-text-color;
            border-radius: 3px;
            white-space: nowrap;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            border-width: 2px;
            padding: 15px 30px 15px 30px;

            mat-icon {
                margin-top: -1px;
            }
        }
    }
}