$nav-background: rgb(255, 255, 255); 
$nav-background-opacity: rgba(255, 0, 0, 0);
$nav-element: rgb(0, 0, 0);
$nav-element-hover: rgb(0, 140, 234);
$header-phone-color: rgb(175, 175, 175);
$about-material-card: hsl(0, 0%, 100%);
$text-element: rgb(100, 100, 100);

$login-background-container: rgb(244, 248, 252);
$login-background-element: rgb(24, 141, 192);
$login-disabled-element: rgba(24, 141, 192, 0.341);
$login-icon-color: rgb(148, 148, 148);
$login-recovery-button: rgb(156, 156, 156);
$login-title-color: rgb(156, 156, 156);

$about-word-card-background: rgb(243, 243, 243);

$carer-tab-active: rgb(13, 120, 169);

$team-text-color: rgb(138, 138, 138);

$faq-text-color: rgb(255, 255, 255);

$navigation-background: rgb(46, 50, 62);
$navigation-background-hover: rgb(45, 48, 59);
$navigation-color: rgb(219, 219, 219);
$navigation-background-header: rgba(255, 255, 255, 0.051);

$top-navigation-color: rgb(117, 117, 117);

$products-header-background: rgb(4, 169, 244);
$products-header-color: rgb(255, 255, 255);
$products-add-background: rgb(243, 70, 57);