@mixin animation($duration) {
    -webkit-transition: color $duration linear 0s;	
    -moz-transition: color $duration linear 0s;
    -o-transition: color $duration linear 0s;
    transition: color $duration linear 0s;
}

@mixin material-box-shadow() {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
  
@mixin colorful-background() {
    background-image: linear-gradient(90deg, #00C4CC 0%, #7D2AE8 100%);
    background: -moz-linear-gradient(45deg, #0b6798 33%, #1194c7 66%, #02b5ee);
    background: -webkit-gradient(linear, 45deg, #0b6798 33%, #1194c7 66%, #02b5ee);
    background: -webkit-linear-gradient(linear, 45deg, #0b6798 33%, #1194c7 66%, #02b5ee);
    background: -o-linear-gradient(linear, 45deg, #0b6798 33%, #1194c7 66%, #02b5ee);
    background: -ms-linear-gradient(linear, 45deg, #0b6798 33%, #1194c7 66%, #02b5ee);
}


@mixin text-gradiend() {
    background: linear-gradient(45deg, #0b6798 33%, #1194c7 66%, #02b5ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin background-image($url) {
    background-image: url($url);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    min-height: 300px;
}