@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";
:host {
    #about-work {
        width: 100%;
        text-align: center;
        margin-top: 120px;

        
        @media screen and (max-width: 480px) {
            margin-top: 60px;
        }

        h2 {
            font-size: calc(25px + 1vw);
            @include text-gradiend();
        }
        .row-block-about {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media screen and (min-width: 1200px) {
                padding-left: 85px;
                padding-right: 85px;                
            }

            @media screen and (min-width: 1440px) {
                padding-left: 320px;
                padding-right: 320px;
            }

            .card-rws {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $about-word-card-background;
                height: 350px;
                max-width: 300px;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 30px;
                min-width: 300px;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.12);

                span {
                    @include text-gradiend();
                    padding-top: 25px;
                    font-size: 25px;
                }

                img {
                    width: 150px;
                }
            }
        }
    }  
}
