<div id="about-work">
    <h2>Почему именно мы?</h2>
    <div class="row-block-about">
        <div class=" card-rws col-sm-6 col-md-3">
            <img src="../../../../../assets/icons/team.svg" alt="">
            <span>Мы команда профессионалов!</span>
        </div>
        <div class="card-rws col-sm-6 col-md-3">
            <img src="../../../../../assets/icons/heart.svg" alt="">
            <span>Мы любим свою работу!</span>
        </div>
        <div class="card-rws col-sm-6 col-md-3">
            <img src="../../../../../assets/icons/swimming.svg" alt="">
            <span>Мы обучаем плаванию!</span>
        </div>
        <div class="card-rws col-sm-6 col-md-3">
            <img src="../../../../../assets/icons/shopping-bag.svg" alt="">
            <span>Мы продаем экипировку для плавания!</span>
        </div> 
        <div class="card-rws col-sm-6 col-md-3">
            <img src="../../../../../assets/icons/communication.svg" alt="">
            <span>Мы индивидуально относимся к каждому клиенету!</span>
        </div>
    </div>
</div>