<div id="cares">
    <h2>Наши услуги</h2>
    <div class="cares-tabs">
        <mat-tab-group>

            <mat-tab label="Обучение плаванию">
                <div class="text"> Групповое и индивидуальное обучение детей и подростков.
                    <p>Формирование групп в соответствии с уровнем подготовленности </p>
                    <div class="photo-first"></div>
                </div>
            </mat-tab>

            <mat-tab label="Оздоровление">
                <div class="text"> Выезд в детские и молодёжные оздоровительные лагеря 
                    <p>в РБ и за ее пределы (Болгария).</p>
                    <div class="photo-third"></div>
                </div>
            </mat-tab>

            <mat-tab label="Спортивная экипировка">
                <div class="text"> Для плавания ведущих мировых брендов - Mad Wave, Arena, TYR, Speedo;
                    <p>Для йоги и фитнеса - Starfit. </p>
                    <div class="photo-second"></div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>