@import "../../shared/styles/colors.scss";
@import "../../shared/styles/mixins.scss";

:host {

    #cares {
        width: 100%;
        text-align: center;
        margin-top: 120px;

        @media screen and (max-width: 480px) {
            margin-top: 60px;
        }

        h2 {
            font-size: calc(25px + 1vw);
            @include text-gradiend();
        }

        .cares-tabs {
            display: flex;
            justify-content: center;
            padding: 25px;

            @media screen and (min-width: 1200px) {
                padding-left: 200px;
                padding-right:  200px;            
            }

            @media screen and (min-width: 1440px) {
                padding-left: 380px;
                padding-right: 380px;
            }

            .mat-tab-group {
                width: 100%;

                .text {
                    font-size: 21px;
                    color: #8a8a8a;
                    height: 170px;
                    padding-top: 45px;
                    height: 100%;
                    overflow: hidden;

                    @media screen and (max-width: 480px) {
                        font-size: 15px;
                    }
                    
                    .photo-first {
                        @include background-image('../../../assets/1.jpg');
                    }

                    .photo-second {
                        @include background-image('../../../assets/2.jpg');
                    }

                    .photo-third {
                        @include background-image('../../../assets/3.jpg');
                    }
                }

                ::ng-deep .mat-tab-labels{
                    font-size: 18px;
                    justify-content: space-between; 
                }

                ::ng-deep .mat-tab-label{
                    font-size: 18px;
                }

                ::ng-deep .mat-ink-bar {
                    background-color: $carer-tab-active;
                }
            }
        }
    }
}